{% extends 'adminbase.html.twig' %}

{% block title %}Edit House{% endblock %}

{% block body %}
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-lg-12">
    <h1>Edit House</h1>

    {{ include('admin/house/_form.html.twig', {'button_label': 'Update'}) }}

                <div class="col-md-2">
    <a href="{{ path('admin_house_index') }}" class="btn btn-theme">Back to list</a>
                </div>
<div>
    {{ include('admin/house/_delete_form.html.twig') }}
</div>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
{% endblock %}
